#container
	{
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 960px;
	}
	
#header
	{
    margin: 5px;
    padding: 5px;
    width: auto;
	}

#content
    {
    margin: 5px;
    padding: 0 0 0 15px;
    max-width: 70%;
    }
    
.memory
    {
    border-radius: 10px;
    float: left;
    height: auto;
    margin: 30px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 25px;
    width: auto;
    }
    
    /*== Colors =====================================================================*/
#container {background-color: green; }
#header {background-color: transparent; }
.memory {background-color: white; }

/*== Type =======================================================================*/
body
    {
    font-family: "Century Gothic", "Calibri",  sans-serif;
    font-size: 1.1em;
    color: #787979;
    }

h1, h2{font-weight: bold; text-align: center; }

 /*== Tabell ======================================================================================================================*/
        
                 table /*Runt*/
                 {
                     margin: 20px auto;
                 }
                 
                 th /*Rubrikrad*/
                 {
                    padding: 10px;
                 }
                 
                 td /*Celler*/
                 {
                    padding: 10px;
                 }
                
               
                