#container
	{
    border-radius: 20px;
    margin: 10%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 80%;
    max-width: 80%;
	}
	
#header
	{
    margin: 5px;
    padding: 5px;
    width: auto;
	}

#content
    {
    float: left;
    margin: 1%;
    padding: 0 0 0 1%;
    width: 95%;
    }
    
#memory1
    {
    border-radius: 20px;
    float: left;
    height: auto;
    margin: 25px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width:auto;
    }
    
#memory2
    {
    border-radius: 20px;
    float: left;
    height: auto;
    margin: 25px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width: auto;
    } 

#memory3
    {
    border-radius: 20px;
    float: right;
    height: auto;
    margin: 25px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width: auto;
    }
    
    
    /*== Colors =====================================================================*/
#container {background-color: #57EB44; }
#header {background-color: transparent; }
.memory {background-color: white; }

/*== Type =======================================================================*/
body
    {
    font-family: "Century Gothic", "Calibri",  sans-serif;
    font-size: 1.1em;
    color: #6A6A6B;
    }

h1, h2{font-weight: bold; text-align: center; }

 /*== Tabell ======================================================================================================================*/
        
                 table /*Runt*/
                 {
                    border: groove #6A6A6B 5px;
                    border-radius: 20px;
                    margin: 15px;
                 }
                 
                 th /*Rubrikrad*/
                 {
                    padding: 15px;
                    vertical-align: top;
                 }
                 
                 td /*Celler*/
                 {
                    padding: 25px
                 }
                
               
                