/*== Layout =====================================================================*/
#container
	{
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 960px;
	}
	
#header
	{
    margin: 5px;
    padding: 5px;
    width: auto;
	}

#content
    {
    margin: 5px;
    padding: 0 0 0 15px;
    max-width: 70%;
    }

#messageBoard
    {
    height: auto;
    margin-bottom: 50px;
    margin-left: 35%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width: 65%;
    }
    
#board
    {
    height: auto;
    margin: 5px 0 10px 8px;
    overflow: auto;
    padding: 0 2px;
    width: 95%;
    }
    
#text
    {
    min-height: 200px;
    margin: 10px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 5px 0 5px;
    max-width: 92%;
    }

/*== Colors =====================================================================*/
#container {background-color: white; }
#header {background-color: transparent; }
#messageBoard {background-color: #57EB44; }
#board {background-color: transparent; }
#board div {background-color: #E2FF8C; }
#board:last-child {background-color: #57EB44; }
#text {background-color: transparent; }

/*== Type =======================================================================*/
body
    {
    font-family: "Century Gothic", "Calibri",  sans-serif;
    font-size: 1.1em;
    color: #787979;
    }

h1{font-weight: bold; text-align: center; }

/*== Header - logo ==============================================================*/

/*== Text-area ==================================================================*/
#messageBoard /*Bakgrund hela JavaScriptet*/
    { 
    border: 5px groove #787979; 
    color: #787979;
    }

#board /*Bakgrund meddelanden samt antal*/
    { 
    border: none; 
    font-size: 0.8em;
    }

#board div /*Utskrivna meddelanden*/
    {
    border: 3px groove #787979;
    min-height: 50px;
    margin: 5px 0 0 0;
    padding: 0 5px;
    text-align: left; 
    }
    
#board p /*:first-child /*Första raden i meddelandet*/
    {
    margin: 5px 55px 5px 5px;
    }
   
#board p:last-child  /*Tid i meddelande*/
    {
    border: none; 
    font-size: 0.7em;
    margin: 5px 0 10px 5px;
    text-align: right;
    }

#board:last-child /*Antal meddelanden*/
    {
       border: none; 
       font-size: 0.7em;
       text-align: right;   
    }
    
#text /*Inmatningstextruta*/
    { 
    border: 1px solid #787879; 
    color: #101010; 
    text-align: left;
    }

/*== Knappar ====================================================================*/
#submitButton /*Skicka-knapp*/
    {
    /*background-color: #57EB44;
    border: 1px solid #787879;
    color: #787879;*/
    float: right;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 5px;
    }
    
#board div img /* Små-knappar i meddelande */
    {
        float: right;
        margin-top: 5px;
    }
    