/*== Layout =====================================================================*/
#container
	{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 960px;
    margin: auto;
	}
	
#header
	{
    margin: 5px;
    padding: 5px;
    width: auto;
	}

/*#board
    {
    margin-left: 50px
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: solid #535354 3px; 
    
    padding: 1px;
    text-align: left; 
    vertical-align: central;
    }*/

#content
    {
        margin: 5px;
        padding: 15px;
        max-width: 70%;
        vertical-align: middle;
    }

#board
    {
        width: 50%;
        height: auto;
        margin-bottom: 50px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
#text
    {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        overflow: auto;
    }

/*== Colors =====================================================================*/
#container {background-color: #57EB44; }
#header {background-color: transparent; }




/*== Type =======================================================================*/
body
    {
        font-family: "Century Gothic", "Calibri",  sans-serif;
        font-size: 1.1em;
        color: #009999;
    }

h1{font-weight: bold; text-align: center; }

/*== Header - logo ==============================================================*/
#header h1 {margin-left: 40px; margin-right: 60px; text-align: center; }

/*== Text-area ==============================================================*/
#board
{ 
    color: #787979; 
    margin-left: 35%;
    border: 3px solid #787979; 
    padding: 0; 
    font-size: 14px;
    background-color: #E2FF8C;
    width: auto; 
}
#text
{ 
    color: #787979; 
    border: 1px solid #CDF93E; 
    padding-left: 4px; 
    padding-right: 3px;
    font-size: 14px;
    background-color: #E2FF8C;
    width: auto; 
}

#submit
    {
        float: right;
        margin-bottom: 5px;
        margin-right: 15px;
        background-color: #57EB44;
        border: 1px solid #787879;
        padding: 5px;
        font-weight: bold;
    }