/*== Layout =====================================================================*/
#container
	{
    border-radius: 20px;
    height: 720px;
    margin: 10%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 960px;
	}
	
#content
    {
    height: 677px;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
    }
    
#footer
    {
    border-top: solid #57EB44 1px;
    height: 43px;
    margin-bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 20px 3px 20px;
    width: 100%;
    }
    

/*== Colors =====================================================================*/
#content {background-color: transparent; }
#footer {background-color: transparent; }


/*== Background-image ===========================================================*/
#container 
    {
    background-image: url('../pics/0.gif');
    }


/*== Type =======================================================================*/
body
    {
    font-family: "Century Gothic", "Calibri",  sans-serif;
    font-size: 1.1em;
    color: #787979;
    }

/*== Fot ========================================================================*/
#miniWindow
{
    
    height: 45px;
    width: 45px;   
}


/*== PopUp ======================================================================*/

 
#app
    {
    background-color: #E2FF8C;
    border: solid 2px #57EB44;
    border-radius: 20px;
    height: 60%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    left: 15%;
    top: 25%;
    width: 30%;
    }

#windowHeader
{
    background-color: #57EB44; 
    background-image: url('../pics/photo_folder.png'); 
    background-position: 10px 0;
    background-repeat: no-repeat;
    background-size: 30px 30px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #787979;
    height: 6%;
    margin: 0;
    width: 100%;
}

#windowHeader h2
{
    float: left;
    font-size: 1.1em;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 1px;
}

#windowBody
{
    background-color: transparent;
    float: left;
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

#windowBody ul
{
    margin: 5px 10px;
    padding: 1px 1px;
}

#windowBody li
{
    float: left;
    list-style-type: none;
    margin: 0 5px -60px 0;
    padding: 1px;
    text-align: center;
    vertical-align: central;
}

#windowBody a
{
    display: block;
    background-color: #003300;
    border: solid 1px #57EB44;
    border-radius: 5px;
    margin: 1px;
    padding: 10px 0 5px 0;
    
}

#closeButt
{
    border: 3px solid black;
    float: left;
    height: 40px;
    margin-top: 54px;
    margin-left: 10px;
    width: 40px;
}

#windowFooter
{
    background-color: #57EB44;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
    height: 6%;
    margin: 0;
    text-align: center;
    width: 100%;
}

#loader
{
    height: 20px;
    margin: auto;
    width: 20px;
}

/*== Knappar ====================================================================*/
#closeButton /*Stänga-knapp*/
    {
    float: right;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    width: 20px;
    }